h1 {
    font-size: xx-large;
    position: relative;

}

.titres h1:nth-child(1)::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    border-bottom: 4px solid red;
    transform-origin: 0%;
    transform: scale(0);

}

.titres h1:nth-child(1):hover::after{
    content: "";
    position: absolute;
    transform: scale(1);
    transition: 1s;


}

.titres h1:nth-child(2)::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    border-bottom: 4px solid red;
    transform: scale(0);
    transform-origin: center;

}

.titres h1:nth-child(2):hover::after{
    content: "";
    position: absolute;
    transform: scale(1);
    transition: 1s; 

}

.titres h1:nth-child(3)::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    border-bottom: 4px solid red;
    transform: scale(center);
    transform-origin: center;
    transition: ease-in-out 2s;

}

.titres h1:nth-child(3):hover::after{
    content: "";
    position: absolute;
    margin-top: -40px;
    
}
